/*
  ./src/scss/ieps_framework/modules/_utils.scss
  Module Utilitaires
 */

 // ELEMENTS Sticky

 .sticky {
   position: sticky;
   top: 0;
   .trigger{
     width: 0;
     height: 0;
     position: absolute;
     top: -1px;
   }
   &.sticked{
     //..
   }
 }
