/*
  ./src/scss/IEPS_framework/modules/_visibilites.scss
  Module de visibilités
 */


 @each $etiquette, $dimension in $breakpoints {

   .#{$etiquette}-visible {
     display: none;
   }

   @media screen and (min-width: #{$dimension}){
    .#{$etiquette}-cache {
      display: none;
    }
    .#{$etiquette}-visible {
      display: block;
    }
  }
 }
